{% extends "base.html" %}

{% block title %}events_list{% endblock %}


{% block header %}
            <h1>Events List</h1>
{% endblock %}


{% block sidebar %}
    <ul>
        <li>
            <a href="{{ url_for('main.main_page') }}">
                <strong>Main Page</strong>
            </a>
        </li>
    </ul>
{% endblock %}



{% block content %}
    {% for event in events %}
<!--rethink page using bootstraps-->
    <ul>
        <li><strong>Name:</strong> {{ event.name }}</li>
        <li><strong>Date:</strong> {{ event.date }}</li>
        <li><strong>Time:</strong> {{ event.time }}</li>
        <li><strong>Description:</strong> {{ event.description }}</li>
    </ul>
    {% endfor %}
{% endblock %}


